* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: SourceSerifPro;
    src: url(../fonts/SourceSerifPro.otf);
}
@font-face{
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova.otf");
}

html,
body {
    background: #fafafa;
    font-family: 'ProximaNova';
    font-size: 1rem;
    overflow-x: hidden;
    width: 100vw;
    font-weight: 300;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
}

/*       Blue background         */

.blue-bg {
    background: #229ec5;
    position: relative;
    padding: 0 5%;
    color: #fff;
}

.logo {
    margin: 40px 0;
}

.headline {
    width: 55%;
    font-style: italic;
    font-size: 160%;
    margin: 70px 0 15px;
    line-height: 150%;
    font-family: SourceSerifPro;
}

.ceo-name {
    font-size: 85%;
    margin-bottom: 40px;
}

.bunny {
    position: absolute;
    right: -15%;
    top: 3%;
    z-index: 0;
}

.bunny img {
    width: 250px;
    height: 350px;
}

/*                  Details Main           */

.head {
    font-size: 100%;
    font-weight: 400;
    text-transform: uppercase;
    margin: 50px 0 10px;
}

.text {
    width: 75%;
    font-size: 95%;
    line-height: 180%;
    font-weight: 300;
}

.text-small {
    margin: 15px 0;
    width: 80%;
    font-size: 110%;
}

.text-small:after {
    height: 1px;
    display: block;
    content: "";
    background: #fff;
    /* width: 95%; */
    margin: 30px 0 30px;
}

.about a {
    color: #fff;
    display: inline-block;
    margin: 1% 0 90%;
}

/*          White background          */

.white-bg {
    background: #fafafa;
    position: relative;
    padding: 0 4%;
    /* overflow-y: scroll; */
    width: 3200px;
    padding-left: 7%;
}

.close-icon {
    position: absolute;
    right: 9%;
    top: 1%;
}

.title-text {
    margin-top: 100px;
}

.title-text h2 {
    color: #555
}

.head .title-text {
    font-size: 90%;
    font-weight: 400;
    color: #aaa;
    letter-spacing: 1px;
}

.title-text:after {
    height: 1px;
    display: block;
    background: #d9d9d9;
    content: "";
    margin: 20px 0 10px;
    width: 85%;
}

.sub-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;
    padding-top: 0;
}

.sub-flex .head {
    color: #aaa;
}

.sub-head {
    color: #505050;
}

.btn {
    display: inline-block;
    padding: 2% 37%;
    background: #229ec5;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    margin-bottom: 25%;
    cursor: pointer;
}

.video h3 {
    color: #505050;
    margin-bottom: 10px;
}

.video p {
    color: #878787;
    line-height: 150%;
    margin-bottom: 20px;
}

#video {
    width: 450px;
}

.video-container {
    position: relative;
}

.video-link {
    position: absolute;
    bottom: 10%;
    left: 6%;
    color: #fff;
}

.play { 
    position: absolute;
    bottom: 10%;
    left: 40%;
}

.social {
    margin-top: 20px;
}

.social a {
    padding: 0 5px;
}

.mobile-view {
    display: none;
}

/*             Media Queries                */

@media only screen and (max-width: 400px) {
    .flex-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .blue-bg,
    .white-bg {
        display: none;
        /* background: #fff;
        color: #878787;
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
        border-radius: 5px 5px 0 0; */
    }
    
    .logo {
        display: none;
    }

    .mobile-view { display: block}

    .mobile-nav {
        display: flex;
        background: #fa6866;
        padding: 5% 0;
        justify-content: space-evenly;
        font-size: .9rem;
    }

    .close-btn {
        position: relative;
    }

    .close {
        position: absolute;
        right: 5%;
        top: 15%;
    }

    .center {
        text-align: center;
    }

    .center h3 {
        width: 50%;
        line-height: 140%;
        color: #000;
        margin: 18% 0 3% 25%;
    }

    .center p {
        color: #aaa;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 80%;
    }

    .btn {
        display: inline-block;
        padding: 4% 35%;
        background: #229ec5;
        border-radius: 8px;
        color: #fff;
        text-decoration: none;
        font-size: 90%;
        margin: 10% 0 10%;
        cursor: pointer;
    }

    .center h2 {
        font-style: italic;
        font-family: SourceSerifPro;
        color: #505050;
        font-weight: 400;
        width: 70%;
        margin-left: 15%;
    }
    
    .ceo {
        color: #505050;
        font-size: 60%;
    }

    .ceo:after {
        height: 1px;
        display: block;
        content: "";
        background: #d9d9d9;
        margin: 20px 0;
        width: 90%;
        margin-left: 5%;
    }

    .no-flex{
        padding: 0 6%;
        color: #878787;
    }

    .no-flex p {
        width: 95%;
        font-size: 90%;
    }

    .no-flex .head {
        color: #7a8085;
        margin-top: 10px;
    }

    .no-flex .text-small {
        margin: 10px;
    }
/* 
    .abt { 
        margin: 0;
    } */

    .no-flex #video-img {
        width: 270px;
        height: 200px;
        padding: 10% 2% 0;
    }

    #video h3 {
        color: #555;
        margin: 20px 0
    }

    #video p {
        color: #878787;
        font-size: 85%;
        font-weight: 300;
        width: 62%;
        line-height: 150%;
    }

    .video-container {
        position: relative;
    }

    .no-flex .play {
        position: absolute;
        top: 5%;
        left: 10%;
    }
}




